body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', helvetica, sans-serif;
    color: #000;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #303030;

}
h1 {
    font-size: 60px;
}
p {
    font-size: 20px;
}
.introbanner {
    background-image: url(imgs/screen-shot-2019-04-30-at-12348-pmpng.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
.bannertext {
    text-align: center;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    font: 70px;
    border: 10px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1500px;
    padding: 20px;
}
#navbardiv {
    background: linear-gradient(0deg, #fff 85%, #a0a0a0 100%);
    overflow: hidden;
}
.sticknavbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}
.sticknavbar + .heros {
    padding-top: 70px;
}
.navbarlist {
    list-style: none;
    text-align: center;
    padding: 20px 50px 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1800px;
    margin: 0 auto;

}
.menuitems > a {
    text-decoration: none;
    color: #000000;
}
.menuitems > a:hover {
    color: #fff;
    background-color: #000;
    transition: 0.5s;
}
.heros {
    max-width: 1100px;
    margin: 0 auto;
}
.herosection {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
    background-color: #d8d8d8;
}
.heroheader {
    padding: 70px 15% 25px;
    color: #000000;

}
.content {
    color: #000000;
    padding: 25px 15% 25px;
    max-width: 1100px;
    margin: 0 auto;
}
#video-container{
    display: flex;
    justify-content: center;
    height: 0;
    padding-bottom: 56.25%;
}
#video-container > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
.footer {
    background-color: #525252;
    position: relative;
    height: 200px;
}
.footerlist {
    text-align: center;
    padding: 20px 50px 10px 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1500px;
    margin: 0 auto;
}
.footerlinks {
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 100;
}
.footerlinks:hover {
    color: #dddddd;
    font-weight: 400;
    transition:all 0.5s ease;
}
.disclaimer {
    font-size: 15px;
    margin: 0 auto;
    padding: 20px 50px 10px 50px;
    color: #adadad;
    max-width: 1000px;
    text-align: center;
    
}
.icon {
    background: url(imgs/LogoMakr_7Hn5X8Top.png);
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display: block;
}
#logoBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
}
#logoBtn:hover {
    background-color: #c7c7c7;
    transition: 0.5s;

}
